<!DOCTYPE html>
<html lang="en">
  <body>
  <%- include('partials/_header') %>
  <h1> Login </h1>
  <form method="POST" action="/login">
    <label for="email"><h5>Email</h5></label></br>
    <input type="email" name="email"></br>
    <label for="password"><h5>Password:</h5></label></br>
    <input type="passowrd" name="password">
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
<%- include('partials/_scripts') %>
</body>
</html>